.sectionRecommendations {
    position: relative;
    width: 80%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .containerLitle {
    background-color: brown;
    width: 370px;
    
  }
  
  .container {
    margin-left: 20px;
  }
  
  .title {
    color: white;
    margin-top: 20px;
  }
  
  .movies {
    display: flex;
    margin-top: 10px;
  }
  
  .caratulas {
    margin-right: 10px;
  }
  
  
  