.recommendationsContainer {
    position: relative;
  }
  
  .recommendationsTitle {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #5c0202;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #5c0202;
    margin-right: 10px;
  }
  
  .recommendationsContent {
    margin-top: 40px;
    /* Resto de estilos */
  }
  
  
.containerSearch{
    background-color: black;
    width: 90%;
    height: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputSearch{
    background-color:  #181515;
    color: white;
    border: 0;
    width: 80%;
    height: 50%;
    margin: auto;
}
.btnSearch{
    background-color: black;
    color: white;
    border: 0;
    font-size: larger;
    margin-right: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.iconBtnSearch{
    width: 15px;
    height: 15px;
    background-color: black;
    margin-inline: 5px;
    
}